html, body{
  width:100%;
  height:100%;
  margin:0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background: #eaeaea;
  height: 80px;
}

.header h1{
  display: inline-block;
  float:left;
}

.header ul{
  margin: 0;
  float: right;
  padding: 0;
}

.header li{
  display: inline-block;
  list-style-type: none;
}

.header li a{
  line-height: 80px;
  padding: 0 10px;
  display: inline-block;
}

.page-content{
  width: 900px;
  margin: 0 auto;
}